* {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 9rem;
    width: 100%;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}

ul {
    display: flex; 
    
}

ul li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 4rem;
    position: relative;
    transition: all 1s;
    margin: 0 1rem;
    text-transform: uppercase;
}

a::after {
    content: "";
    top: 0;
    
    transition: all 1s;
    left: 0;
    position: absolute;
    transform-origin: left;
    width: 100%;
    height: 0.2rem;
    transform: scaleX(0);
    background-color: white;
}

a:hover:after {
    transform: scaleX(1);
}

a::before {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 0.2rem;
    transform: scaleX(0);
    position: absolute;
    transform-origin: right;
    transition: 1s;
}

a:hover::before {
    transform: scaleX(1);
}

